#set defaults here
#CC=/s/gcc-4.9.2/bin/gcc
CC=gcc
#CC=/home/julio/expertise/ventana-root3/bin/riscv64-unknown-linux-gnu-gcc -march=rv64gcv_zba_zbb_zbs_zicond_zvl256b
#CC=clang
#CC=/home/julio/expertise/ventana-root2/bin/clang --target=riscv64-unknown-linux-gnu -march=rv64gcv_zba_zbb_zbs_zicond_zvl256b --sysroot=/home/julio/expertise/ventana-root2/sysroot --gcc-toolchain=/home/julio/expertise/ventana-root2/sysroot/usr -I/home/julio/expertise/ventana-root2/sysroot/usr/include -L/home/julio/expertise/ventana-root2/lib/gcc/riscv64-unknown-linux-gnu/14.2.1
#PY=/s/python-2.7.3/bin/python
